

:root{

    --netflix-color:#e50914;
    font-family: 'Open Sans', sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body{
  background-color: black; 
  color:white;
  overflow-x: hidden;
  
  
}
h1 h2 h3{
    color:white;

}
a{
    text-decoration: none;
}
.header{
    width: 100%;
    height: 93vh;
    position: relative;
    background: url("netflix-background.jpg");

}
.my-div{
    position:relative;
    height: 90px;

}
.my-div img{
    height: 170px;
    width: 220px;
    position:absolute;
    top:-30px;
    left:900px;
    z-index: 2;
    
}
.logo{cursor: pointer;}
.btn-sm{
    position:absolute;
    top:30px;
    right:50px;
    color: white;
    font-weight:lighter;
    font-size: 18px;
    background-color: #e50914;
    width: 100px;
    height: 30px;
    text-align:center;
    border:none;
    border-radius: 5px;
    z-index: 2;

}
.btn-sm:hover{
    opacity: 0.9;
}
.lang{
    position:absolute;
    right: 160px;
    top:30px;
    height:30px;
    color: white;
    background-color: black;
    opacity:70%;
    z-index:9;
    border-radius: 3px;
    cursor: pointer;
    z-index: 2;
    

}
.contenido{
    position:absolute;
    top:200px;
    left: 800px;
    top:180px;
    width: 500px;
    z-index: 2;
    overflow-x: hidden;
    
}
h1{
    font-size: 70px;
    font-weight: bold;
    z-index: 2;
    box-sizing: border-box;
}
h2{
    margin-top: 20px;
    font-weight: bold;
    z-index: 2;
}
.contenido-2{
    position:absolute;
    top:650px;
    left:700px;
    z-index: 2;
    


}
p{
    font-size: 17px;
    z-index: 2;
   
}
.email{
    color:grey;
    width: 500px;
    height: 70px;
    border-radius: 2px;
    text-indent: 15px;
    z-index: 2;
    
}



.btn-xl{
    color: white;
    font-weight:bold;
    font-size: 18px;
    background-color: #e50914;
    width: 250px;
    height: 69px;
    text-align:center;
    border:none;
    cursor: pointer;
    font-size: 30px;
    position: relative;
    left:-6px;
    top:7px;
    z-index: 2;

}
.btn-xl:hover{
   opacity: 0.9;
}
.header::after{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color:rgba(0,0,0,0.6);
    box-shadow: inset 120px 100px 250px black,inset -120px -100px 250px black;
    
}
.separador{
    width: 100%;
    height: 7px;
    background-color: rgb(44, 44, 44);
}
.contenido-3{
    width: 100%;
    height: 400px;
    background-color: black;
    box-sizing: border-box;
    padding: 2% 10%;

}
.text{
    font-size: 50px;
    font-weight: 10px;
}
.text-1{
    font-size: 25px;
    width: 450px;
    margin-top:20px;
}
.subcontent-3{
    position:relative;
    left: 300px;
    top:10%;
}
video{
    position:relative;
    top:-250px;
    left:500px;
}
.subcontent-4{
    position:relative;
    left: 920px;
    top:-30px;

}
.text-2{
    width: 350px;
}
.image{
    position:absolute;
    left:-650px;
    top:-10px;
}
.text-3{
    position: relative;
    top: 50px;
    left:400px;
}
.subcontent-5{
    position: relative;
    top:20px;
    left:300px;
}
.subcontent-6{
    position: relative;
    top:10px;
    left: 850px;

}
.image-2{
    position: relative;
    top:-270px;
    left:200px;
}
.container-4{
    width: 100%;
    height: 900px;
}
.faq{
    position: relative;
    top: 70px;
    left: 33%;

}
.indent{
  text-align: left;
  margin-left: 30px;
  margin-top: -7px;
  margin-right: 10px;
  font-size:20px;
  
}
.bottom{
    position: relative;
    margin-left: 620px;
    margin-top: 200px;
    margin-bottom: 50px;
}
.container-5{
    width:100%;
    height:100px;
    color:grey;
    text-align: center;
    margin-top: 10px;
}
h3{
    color:rgb(206, 204, 204);
    text-align: center;
    margin-bottom: 15px;
}
i{
    font-size: 25px;
    cursor: pointer;
}
/*ACCORDION ATRIBUTES*/
.container-4{
    height: auto;
}
.logos{
    height:fit-content;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:-50px;
    
}
.git{
    width: 40px;
}
.insta{
    width: 40px;
    margin-left: 15px;
}
.container-4{
    display: flex grid;
    justify-content: center;
    align-items: center;
}


.accordion-item{
    width: 800px;
    
    margin-left: 600px;
    margin-top:0.5rem  ;
    position: relative;
    top:150px;
    font-family: 'Open Sans', sans-serif;
    
}
.accordion-header{
   font-family:'Open Sans', sans-serif;
    height: 70px;
    background-color:rgb(51, 51, 51);
    font-size: 2rem;
    text-indent:30px;
    font-weight: bold;
    cursor: pointer;
    line-height: 70px;
}
.accordion-body{
    display:none;
    font-family:'Open Sans', sans-serif;
    background-color:rgb(51, 51, 51) ;
    height:fit-content;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    
    border-top: 3px solid black;
    

}.accordion-header::after{
    content:"\002B";
    font-size: 2rem;
    position: absolute;
    right: 2rem;
    
}
.accordion-header.active::after{
    content:"\00D7";
    transition: 1s;
    
}
.accordion-header.active + .accordion-body{
    display:block;
    
}
.accordion-header:hover{
    opacity:0.9;
}
.border-box{
    border-radius: 5px;
}

/**/

@media screen and (min-width:650px) and (max-width:850px){
    
    .accordion-item{
        margin:10px;
    }
    .accordion-body{
        width: 800px;
    }
    .faq{
        width:1rem;
    }
    img.logo{
        left:20px;
    }
    div.contenido{
        width: 800px;
        left:20px;
        font-size: 15px;
    }
    div.contenido-2{
        width: 800px;
        left: 20px;
        top:450px;
    }
    div.subcontent-3{
        width: 750px;
        font-size: 40px;
        left:-50px;
    }
    video.vid-1{
        width: 450px;
        top:-200px;
        left:400px;
    }
    div.subcontent-4{
        width: 750px;
        left:350px;
        font-size: 40px;
    }
    img.image{
        width: 400px;
        left:-450px;
        
    }
    div.subcontent-5{
        width:750px;
        left:-50px;
    }
    video.vid-2{
        width: 380px;
        top:-200px;
        left:440px;
    }
    .subcontent-6{
        width: 700px;
        left:-50px;
    }
    img.image-2{
        width: 400px;
        top:-160px;
        left: 370px;
    }
    div.bottom {
        width: 700px;
        left:-600px;
    }
     #btn-2{
        left:500px;
        top:-68px;
        
        
    }


}
@media screen and (min-width:400px) and (max-width:649px){
    
    .accordion-item{
        margin:10px;
    }
    .accordion-body{
        width: 600px;
    }
    .faq{
        width:1rem;
    }
    img.logo{
        left:20px;
    }
    div.contenido{
        width: 600px;
        left:20px;
        font-size: 15px;
    }
    .btn-sm{
        position:absolute;
        left: 500px;
        text-align: center;
    }
    .lang{
        position:absolute;
        width: 80px;
        left:400px;

    }
    .email{
        width: 400px;
    }
    .btn-xl{
        width: 200px;
        position: absolute;
        left:398px;
        top:24px;
    }


    div.contenido-2{
        width: 600px;
        left: 20px;
        top:600px;
    }
    .separador{
        width: 600px;
    }
    div.subcontent-3{
        width: 500px;
        font-size: 40px;
        left:-20px;
    }
    .text-1{
        width: 300px;
    }
    video.vid-1{
        width: 350px;
        top:-150px;
        left:270px;
    }
    div.subcontent-4{
        width: 750px;
        left:350px;
        font-size: 40px;
    }
    img.image{
        width: 400px;
        left:-450px;
        
    }
    div.subcontent-5{
        width:750px;
        left:-50px;
    }
    video.vid-2{
        width: 380px;
        top:-200px;
        left:440px;
    }
    .subcontent-6{
        width: 700px;
        left:-50px;
    }
    img.image-2{
        width: 400px;
        top:-160px;
        left: 370px;
    }
    div.bottom {
        width: 700px;
        left:-600px;
    }
     #btn-2{
        left:500px;
        top:-68px;
        
        
    }


}
 
    



