
:root{
    font-family: 'Open Sans', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}


body{
    background: url(netflix-background.jpg);
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    
}
.back::after{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.6);
    box-shadow:10px;
    z-index: -4;
}
.container{
    width: 450px;
    height: 650px;
    position: absolute;
    top:15%;
    left:39%;
    background-color:rgba(0,0,0,0.8);
    z-index: 4;
    color: white;
}
.logo{
    
    width: 200px;
    z-index: 4;
    margin-left:900px;
    margin-top: 0px;
    cursor: pointer;

}

h1{
    margin-top: 40px;
    margin-left: 50px;
}
.email{
    width:80% ;
    height: 50px;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 25px;
    background-color:white;
    color:rgb(168, 167, 167);
    text-indent:20px;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    
}
.password{
    width:80% ;
    height: 50px;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 25px;
    background-color:white;
    color:rgb(168, 167, 167);
    text-indent: 20px;
    border:0;
    font-family: 'Open Sans', sans-serif;

}
.btn{
    width: 80%;
    height: 50px;
    border-radius: 5px;
    margin-left: 50px;
    margin-top:50px;
    text-align: center;
    border: 0px;
    background-color: red;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.9;
}
.check{
    color:rgb(168, 167, 167);;
    cursor: pointer;
    margin-left: 50px;
}
label{
    font-size:12px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(168, 167, 167);;
}
.help{
    margin-left:190px;
    cursor: pointer;
}
.help:hover{
    text-decoration: underline;
}
.txt{
    margin-top:70px;
    margin-left:50px;
    color:rgb(168, 167, 167) ;
    font-size:13px;
}
#txt{
    color: white;
    font-size: 13px;
    cursor: pointer;
}
#txt:hover{
    text-decoration: underline;
    color:blue
}
/**/
#error-msg-password{
    color: white;
    font-size: 12px;
    margin-left:90px;
    
}